<a href="https://colab.research.google.com/github/SarahJane86/food-sales-predictions/blob/main/Project1(ML).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Food Sales Predictions
### Project 1, part 5
#### Sarah Musselwhite
#### August 15, 2022

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
sales_df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vR60k8hus4AaZJGRHBKajLhXxpnvlgchjNYsP_NpGgTGaPsnkcJAQuYJbgIA5ckoFSPVN4BoHAw0CGZ/pub?gid=362366300&single=true&output=csv')
sales_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

#### Before splitting your data, you can drop duplicates and fix inconsistencies in categorical data.* (*There is a way to do this after the split, but for this project, you may perform this step before the split)

In [4]:
sales_df.duplicated().any() 
#No Duplicates found

False

In [5]:
sales_df.dropna(inplace=True) 
#Dropping missing data

#### Identify the features (X) and target (y): Assign the "Item_Outlet_Sales" column as your target and the rest of the relevant variables as your features matrix.

In [6]:
x = sales_df.drop('Item_Outlet_Sales', axis=1)
y = sales_df['Item_Outlet_Sales']
#Identifying X features and Y target

In [7]:
x.head()
#verifying that previous code worked

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2

#### Perform a train test split

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=42)
x_train.head()
#perform a train test split

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
1909,FDA38,5.440,Low Fat,0.025520,Dairy,238.7538,OUT049,1999,Medium,Tier 1,Supermarket Type1
3715,FDO57,20.750,Low Fat,0.108879,Snack Foods,161.5578,OUT049,1999,Medium,Tier 1,Supermarket Type1
3371,FDT14,10.695,Regular,0.128247,Dairy,121.8440,OUT018,2009,Medium,Tier 3,Supermarket Type2
6743,DRF51,15.750,Low Fat,0.166514,Dairy,38.0506,OUT018,2009,Medium,Tier 3,Supermarket Type2
5207,FDC16,11.500,Regular,0.000000,Dairy,88.2540,OUT046,1997,Small,Tier 1,Supermarket Type1

In [9]:
len(x_train)
#verifying 70/30 split

3487

In [10]:
len(x_test)
#verifying 70/30 split

1163

#### Create a preprocessing object to prepare the dataset for Machine Learning

In [11]:
from sklearn.compose import make_column_selector
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [12]:
object_select = make_column_selector(dtype_include='object')
integer_select = make_column_selector(dtype_include='number')

In [13]:
scaler = StandardScaler()
OHE = OneHotEncoder(handle_unknown='ignore')

In [14]:
int_tup =(scaler, integer_select)
obj_tup =(OHE, object_select)

In [15]:
from sklearn.compose import make_column_transformer
tform_col = make_column_transformer (int_tup, obj_tup, remainder = 'passthrough')

#### Make sure your imputation of missing values occurs  after the train test split using SimpleImputer.

In [19]:
from sklearn.impute import SimpleImputer
mean_impute = SimpleImputer(strategy='mean')
most_freq_impute = SimpleImputer(strategy='most_frequent')

In [21]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4650 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            4650 non-null   object
 1   Item_Weight                4650 non-null   float64
 2   Item_Fat_Content           4650 non-null   object
 3   Item_Visibility            4650 non-null   float64
 4   Item_Type                  4650 non-null   object
 5   Item_MRP                   4650 non-null   float64
 6   Outlet_Identifier          4650 non-null   object
 7   Outlet_Establishment_Year  4650 non-null   int64
 8   Outlet_Size                4650 non-null   object
 9   Outlet_Location_Type       4650 non-null   object
 10  Outlet_Type                4650 non-null   object
 11  Item_Outlet_Sales          4650 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 472.3+ KB